// Place all the styles related to the Teaser controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';

.teaser-bg {
  background-image: url(image_path('teaser/teaser-bg.jpg'));
  background-size: cover;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;

  .form-container {
    background: rgba(0,0,0,0.5);
  }
}
