@import 'colors';

.text-white {color: $white;}
.text-orange {color: $orange;}

.fs88 {font-size: 88px;}
.fs40 {font-size: 40px;}
.fs20 {font-size: 20px;}
.fs16 {font-size: 16px;}

.fw700 {font-weight: 700}